.details__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', 'Times New Roman', serif;
    flex-direction: column;
}

.details__content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #212529;
    max-width: 100%;
    word-wrap: break-word;
}

.navigate {
    display: flex;
    align-items: center;
}

.details__prev {
    justify-self: left;
}

.details__next {
    margin-left: auto;
}

/**
 * Posts details
 */
.details__content {
    margin-bottom: 30px;
}

.details__content h2 {
    font-size: 32px;
}

@media screen and (max-width: 800px) {
    .container {
        max-width: 100%;
    }

    .details__content h2 {
        font-size: 28px;
    }
}

.details__content h3 {
    font-size: 26px;
}

@media screen and (max-width: 800px) {
    .details__content h3 {
        font-size: 22px;
    }
}

.details__content h4 {
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .details__content h4 {
        font-size: 18px;
    }
}

