.contact__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    font-family: 'Lora', 'Times New Roman', serif;
    width: 100%;
}

.contact__content {
    max-width: 760px;
}

.contact__title {
    font-weight: 400;
    font-size: 23px;
    color: #212529;
    text-align: justify;
}

.contact__form {
    display: flex;
    flex-direction: column;
    max-width: 760px;
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.contact.btn__link {
    margin-right: auto;
    margin-top: 50px;
}

.form_error {
    color: #bf1650;
}

.form_error::before {
    display: inline;
    content: "⚠ ";
}
