.home__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.home__content {
    display: flex;
    flex-direction: column;
    max-width: 760px;
}

.home.btn__link {
    margin-left: auto;
}

