.header__wrapper {
    position: relative;
}

.banner__wrapper {
    background: url("../../assets/images/bg-index.jpg") no-repeat center center;
    background-size: cover;
    height: 525px;
    width: 100%;
}

.header__heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    z-index: 90;
}

.header__heading h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 0;
}

.header__subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.banner__overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}