.header__wrapper {
    position: relative;
    background-image: url("../../assets/images/bg-index.jpg") ;
    height: 500px;
}

.banner__wrapper {
    /*background-image: url("../../assets/images/bg-index.jpg") ;*/
    /*height: 500px;*/
}

/*.banner__overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: #212529;*/
/*    opacity: 0.5;*/
/*}*/