.nav__wrapper {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    padding: 8px 16px;
    display: flex !important;
    flex-basis: auto;
}

img {
    width: 150px;
}

.nav__link {
    display: flex;
    align-items: center;
}

.item__link {
    display: block;
    margin-left: 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.item__link:hover {
    color: #ccc5c5;
}

#menu-appbar {
    position: fixed;
    z-index: 1300;
    right: -24px;
    bottom: 0;
    top: -8px;
    left: -16px;
}