.nav__wrapper {
}

.nav__link {
    display: flex;
    align-items: center;
}

.item__link {
    display: block;
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}
