* {

    box-sizing: border-box;
}

.app__wrapper {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.app__wrapper ul {
    display: flex;
    justify-content: space-evenly;
}
